title: Getting started with GitHub Apps
tagline: Get started with GitHub Apps in a flash
description: Add your own GitHub feature, automate workflows, and more with GitHub Apps.
template:
  name: getting-started-github-apps
  repo: games
before:
  - type: createIssue
    title: Getting started with GitHub Apps
    body: 01_intro-gh-apps.md

steps:
  - title: Install your first GitHub Apps
    description: Learn what GitHub Apps are and how to install them
    event: issues.closed
    link: '{{ repoUrl }}/issues/1'
    actions:
    - type: updateBranchProtection
    - type: createPullRequest
      title: Trigger the app
      head: add-to-list
      body: 02_trigger-wip.md
      action_id: first_pr
    - type: respond
      with: 01_successful-close.md
      data:
        url: '%actions.first_pr.data.html_url%'

  - title: Trigger the WIP app
    description: Once installed, learn how to interact with the app
    event: "pull_request.edited"
    link: '{{ repoUrl }}/pull/1'
    actions:
      - type: gate
        left: '%payload.pull_request.title%'
        operator: search
        right: WIP
        else:
          - type: respond
            with: 02_WIP-error-message.md
      - type: mergeBranch
        head: finish-list
        base: add-to-list
      - type: respond
        with: 02_adding-smee.md
        data:
         repoUrl: '%payload.repository.html_url%'

  - title: Add a webhook
    description: Add a smee.io URL to your repository's webhooks
    event: "issue_comment.created"
    link: '{{ repoUrl }}/pull/1'
    actions:
      - type: octokit
        method: repos.getHooks
        owner: '%payload.repository.owner.login%'
        repo: '%payload.repository.name%'
        action_id: hooks
      - type: gate
        left: '%actions.hooks.data.length%'
        operator: '>='
        right: 1
        else:
          - type: respond
            with: 02_smee-install-error.md
            data:
             repoUrl: '%payload.repository.html_url%'
      - type: respond
        with: 02_smee-install-success.md

  - title: Remove WIP from the title
    description: Interact with the WIP app by removing WIP from the title
    event: pull_request.edited
    link: '{{ repoUrl }}/pull/1'
    actions:
      - type: gate
        left: '/\WIP/g'
        operator: '!test'
        right: '%payload.pull_request.title%'
        else:
          - type: respond
            with: 02_WIP-error-message2.md
      - type: respond
        with: 02_naming-webhook-events.md
        data:
         repoUrl: '%payload.repository.html_url%'

  - title: Determine which event triggered the WIP app
    description: Examine the smee.io URL and determine which event name caused the app to respond
    event: "issue_comment.created"
    link: '{{ repoUrl }}/pull/1'
    actions:
      - type: gate
        left: 'pull_request'
        operator: test
        right: '%payload.comment.body%'
        required: false
        else:
          - type: respond
            with: 02_webhook-comment-failure.md
      - type: removeBranchProtection
      - type: gate
        left: 'pull_request'
        operator: '!test'
        right: '%payload.comment.body%'
        required: false
        else:
          - type: respond
            with: 02_webhook-comment-success.md

  - title: Merge the first pull request
    description: Merge the first pull request of the course
    event: pull_request.closed
    link: '{{ repoUrl }}/pull/1'
    actions:
      - type: gate
        left: '%payload.pull_request.merged%'
        else:
          - type: respond
            with: 02_accidental-close.md
      - type: respond
        with: 02_next-pull-request.md
        data:
         repoUrl: '%payload.repository.html_url%'

  - title: Open a pull request
    description: Open a pull request to learn about the Request Info app
    event: pull_request.opened
    link: '{{ repoUrl }}/pull/2'
    actions:
      - type: "gate",
        left: "%payload.pull_request.head.ref%",
        operator: "===",
        right: "request-info"
      - type: "updateBranchProtection"
      - type: "gate",
        left: "%payload.pull_request.body%",
        action_id: "body_gate",
        required: false
      - type: "gate",
        left: "%actions.body_gate%",
        operator: "===",
        action_id: "first_gate",
        right: false,
        required: false,
        else:
          - type: "respond",
            with: "03_configuring-apps.md"
      - type: "gate",
        action_id: "second_gate",
        left: "%actions.body_gate%",
        operator: "===",
        right: true,
        required: false,
        else:
          - type: "respond",
            with: "03_included-text.md"

  - title: Customize the response of the Request Info app
    description: Learn how to customize the app's default behavior
    event: pull_request.synchronize
    link: '{{ repoUrl }}/pull/2'
    actions:
      - type: octokit
        method: pullRequests.getFiles
        owner: '%payload.repository.owner.login%'
        repo: '%payload.repository.name%'
        number: '%payload.pull_request.number%'
        action_id: pr_files
      - type: gate
        left: '%actions.pr_files.data%'
        operator: includes
        right: 'filename:.github/config.yml'
        else:
           - type: respond
             with: 03_make-file-changes.md
      - type: respond
        with: 03_discovering-api-endpoints.md

  - title: Identify API endpoints
    description: Learn how to identify API endpoints
    event: "issue_comment.created"
    link: '{{ repoUrl }}/pull/2'
    actions:
      - type: gate
        left: 'POST /repos/:owner/:repo/labels'
        operator: test
        right: '%payload.comment.body%'
        required: false
        else:
          - type: respond
            with: 03_endpoint-comment-error.md
            data:
              repoUrl: '%payload.repository.html_url%'
      - type: removeBranchProtection
      - type: mergePullRequest
        pullRequest: 3
      - type: gate
        left: 'POST /repos/:owner/:repo/labels'
        operator: '!test'
        right: '%payload.comment.body%'
        required: false
        else:
          - type: respond
            with: 03_endpoint-comment-success.md
            data:
              repoUrl: '%payload.repository.html_url%'

  - title: Open a blank issue
    description: Open a blank issue to see your config changes take effect
    event: issue_comment.created
    link: '{{ repoUrl }}/issues/2'
    actions:
    - type: respond
      with: 04_graceful-exit.md
